<section class="roberto-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Güncel haberler</h6>
                    <h2>Son haberler (3)</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <a href="#" class="post-thumbnail"><img src="img/bg-img/2.jpg" alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">Jan 02, 2019</a>
                        <a href="#" class="post-catagory">Event</a>
                    </div>
                    <!-- Post Title -->
                    <a href="#" class="post-title">Learn How To Motivate Yourself</a>
                    <p>How many free autoresponders have you tried? And how many emails did you get through using them?</p>
                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <a href="#" class="post-thumbnail"><img src="img/bg-img/3.jpg" alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">Jan 02, 2019</a>
                        <a href="#" class="post-catagory">Event</a>
                    </div>
                    <!-- Post Title -->
                    <a href="#" class="post-title">What If Let You Run The Hubble</a>
                    <p>My point here is that if you have no clue for the answers above you probably are not operating a followup.</p>
                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <a href="#" class="post-thumbnail"><img src="img/bg-img/4.jpg" alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">Jan 02, 2019</a>
                        <a href="#" class="post-catagory">Event</a>
                    </div>
                    <!-- Post Title -->
                    <a href="#" class="post-title">Six Pack Abs The Big Picture</a>
                    <p>Some good steps to take to ensure you are getting what you need out of a autoresponder include…</p>
                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>