<section class="welcome-area">
    <div class="welcome-slides owl-carousel">

        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/roberto-master/img/bg-img/16.jpg);" data-img-url="/roberto-master/img/bg-img/16.jpg">

            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">

                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInLeft" data-delay="200ms">Hotel &amp; Resort</h6>
                                <h2 data-animation="fadeInLeft" data-delay="500ms">Welcome To Roberto</h2>
                                <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInLeft" data-delay="800ms">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/roberto-master/img/bg-img/17.jpg);" data-img-url="/roberto-master/img/bg-img/17.jpg">

            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">

                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInUp" data-delay="200ms">Hotel &amp; Resort</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Welcome To Roberto</h2>
                                <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInUp" data-delay="800ms">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/roberto-master/img/bg-img/18.jpg);" data-img-url="/roberto-master/img/bg-img/18.jpg">

            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">

                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInDown" data-delay="200ms">Hotel &amp; Resort</h6>
                                <h2 data-animation="fadeInDown" data-delay="500ms">Welcome To Roberto</h2>
                                <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInDown" data-delay="800ms">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>