<section class="roberto-about-area section-padding-100-0">
    <div class="container mt-100">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                    <h6>Hakkımızda</h6>
                    <h2>Roberto Hotel Luxury <br /> Hoş Geldiniz</h2>
                </div>
                <div class="about-us-content mb-100">
                    <h5 class="wow fadeInUp" data-wow-delay="300ms">Rapid api consume</h5>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="single-thumb">
                                <img src="~/roberto-master/img/bg-img/13.jpg" alt="">
                            </div>
                            <div class="single-thumb">
                                <img src="~/roberto-master/img/bg-img/14.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="single-thumb">
                                <img src="~/roberto-master/img/bg-img/15.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>