@model SearchHotelViewModel

<section class="roberto-about-area section-padding-100-0">

    <div class="hotel-search-form-area">
        <div class="container-fluid">
            <div class="hotel-search-form">
                <form asp-action="SearchHotels" asp-controller="Default" method="post">
                    <div class="row justify-content-between align-items-end">
                        <div class="col-6 col-md-1 col-lg-2">
                            <label >Lokasyon Adı</label>
                            <input type="text" asp-for="Name" class="form-control" >
                        </div>

                        <div class="col-6 col-md-1 col-lg-2">
                            <label for="checkIn">Giriş Tarihi</label>
                            <input type="date" asp-for="CheckInDate" class="form-control" id="checkIn" >
                        </div>
                        <div class="col-6 col-md-1 col-lg-2">
                            <label for="checkOut">Çıkış Tarihi</label>
                            <input type="date" asp-for="CheckOutDate" class="form-control" id="checkOut">
                        </div>
                        <div class="col-4 col-md-1">
                            <label for="chilrens">Çocuk</label>
                            <select id="chilrens" asp-for="ChildrenCount" class="form-control">
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
  
                            </select>
                        </div>
                        <div class="col-4 col-md-1">
                            <label for="adults">Yetişkin</label>
                            <select id="adults" asp-for="AdultCount" class="form-control">
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                            </select>
                        </div>
                        <div class="col-4 col-md-1">
                            <label for="rooms">Oda</label>
                            <select id="rooms" asp-for="RoomCount" class="form-control">
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                            </select>
                        </div>
                        <div class="col-4 col-md-1">
                            <label for="currency">Döviz</label>
                            <select id="currency" asp-for="Currency" class="form-control">
                                <option value="TRY">TRY</option>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-2">
                            <button type="submit" class="form-control btn roberto-btn w-100">Ara</button>
                        </div>
                    </div>
                    <br><br />
                </form>
            </div>
        </div>
    </div>


</section>
