<section class="roberto-about-area section-padding-100-0">

    <div class="hotel-search-form-area">
        <div class="container-fluid">
            <div class="hotel-search-form">
                <form action="#" method="post">
                    <div class="row justify-content-between align-items-end">
                        <div class="col-6 col-md-1 col-lg-2">
                            <label for="checkIn">Giriş Tarihi</label>
                            <input type="date" class="form-control" id="checkIn" name="checkin-date">
                        </div>
                        <div class="col-6 col-md-1 col-lg-2">
                            <label for="checkOut">Çıkış Tarihi</label>
                            <input type="date" class="form-control" id="checkOut" name="checkout-date">
                        </div>
                        <div class="col-4 col-md-1">
                            <label for="chilrens">Çocuk</label>
                            <select name="chilrens" id="chilrens" class="form-control">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                            </select>
                        </div>
                        <div class="col-4 col-md-1">
                            <label for="adults">Yetişkin</label>
                            <select name="adults" id="adults" class="form-control">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                            </select>
                        </div>
                        <div class="col-4 col-md-1">
                            <label for="rooms">Oda</label>
                            <select name="rooms" id="rooms" class="form-control">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                            </select>
                        </div>
                        <div class="col-4 col-md-1">
                            <label for="currency">Döviz</label>
                            <select name="currency" id="currency" class="form-control">
                                <option value="TRY">TRY</option>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-2">
                            <button type="submit" class="form-control btn roberto-btn w-100">Ara</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>
